
.logo {
    height: 36px;
    width: 36px;
    background: url('../img/logo.svg') no-repeat center center;
    background-size: 80%;
    border-radius: 6px;
    margin: 6px;
    display: inline-block;
}

.logo-text {
    float: right;
    line-height: 50px;
    color: #fff;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.col-span {
    margin-right: 15px;
}

.col-hidden {
    display: none;
}

.login-logo {
    height: 70px;
    width: 70px;
    background: url('../img/logo.svg') no-repeat center center;
    background-size: 100%;
    border-radius: 6px;
    display: inline-block;
    float: left;
}

.login-logo-text {
    color: #20311e;
    font-size: 25px;
    display: inline-block;
    float: left;
    height: 70px;
    line-height: 70px;
    margin-left: 20px;
}

.base_png {
    height: 80%;
    background: url('../img/logo.svg') no-repeat center;
    background-size: 20%;
}

.small_font {
    height: 45px;
    max-height: 45px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 13px;
}

.fixedHeight {
    height: 45px !important;
    max-height: 45px;
}

.action_column {
    height: 45px;
    max-height: 45px;
}

.ip_column {
    padding: 0 !important;
    font-size: 12px;
}

.ant-carousel .slick-dots li button {
    background: #9ba2bd !important;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #40a9ff !important;
}

.intro {
    height: 400px;
}

.intro_title {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
}

.intro_desc {
    color: #524e53;
    font-size: 13px;
    font-weight: 500;
    padding-left: 20px !important;
    padding-right: 10px !important;
}

.intro_img_common {
    background: url('../img/logo.svg') no-repeat center 0;
    width: 300px;
    height: 300px;
}

.CodeMirror {
    background-color: #ddffff !important;
    padding: 10px;
    border-left: 6px solid #ccc !important;
    border-color: #2196F3 !important;
}
