.logo {
    height: 36px;
    width: 36px;
    background: url("../img/logo.svg") no-repeat center center;
    background-size: 80%;
    border-radius: 6px;
    margin: 6px;
    display: inline-block;
}

.logo-text {
    float: right;
    line-height: 50px;
    color: #fff;
    margin-right: 50px;
    font-size: 18px;
}

.col-span {
    margin-right: 15px;
}

.col-hidden {
    display: none;
}

.login-logo {
    height: 70px;
    width: 70px;
    background: url("../img/logo.svg") no-repeat center center;
    background-size: 100%;
    border-radius: 6px;
    display: inline-block;
    float: left;
}

.login-logo-text {
    color: #20311e;
    font-size: 20px;
    display: inline-block;
    float: left;
    height: 70px;
    line-height: 70px;
    margin-left: 20px;
}

.base_png {
    height: 80%;
    background: url("../img/logo.svg") no-repeat center;
    background-size: 20%;
}

.ip_column {
    padding: 0 !important;
    font-size: 12px;
}

.ant-carousel .slick-dots li button {
    background: #9ba2bd !important;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #40a9ff !important;
}

.CodeMirror {
    background-color: #ddffff !important;
    padding: 10px;
    border-left: 6px solid #ccc !important;
    border-color: #2196f3 !important;
}

.wechat {
    height: 60px;
    width: 60px;
    background: url("../img/wechat.jpeg") no-repeat center center;
    background-size: 100%;
    border-radius: 3px;
    display: inline-block;
}

.login-ad {
    width: 100%;
    height: 100%;
    background: url("../img/login.svg") no-repeat center center;
    background-size: 60%;
    border-radius: 6px;
    display: inline-block;
}

.welcome-ad {
    width: 100%;
    height: 100%;
    background: url("../img/welcome.svg") no-repeat center center;
    background-size: 60%;
    border-radius: 6px;
    display: inline-block;
}

@keyframes fade {
    from {
        background-color: #dfefff;
    }
    50% {
        background-color: #ffffff;
    }
    to {
        background-color: #dfefff;
    }
}

@-webkit-keyframes fade {
    from {
        background-color: #dfefff;
    }
    50% {
        background-color: #ffffff;
    }
    to {
        background-color: #dfefff;
    }
}

.flashing {
    color: #06f;
    animation: fade 700ms infinite;
    -webkit-animation: fade 700ms infinite;
}

.jenkinsEditor {
    font-size: 11px;
}

.preJenkinsLog {
    font-size: 12px;
    height: calc(100% - 30px);
    margin-left: -30px;
    margin-right: -30px;
    overflow: auto;
    flex: 1 1 0%;
    padding-bottom: 300px;
    background-color: #202d40 !important;
    color: #f5f5f5;
    padding: 0.5rem 0;
    font-size: 12px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
        monospace !important;
    margin: 0;
    white-space: pre-wrap;
}
